<h2>Customer</h2>

<form ng-submit="$ctrl.save()">
	<label> Name	
		<input ng-model="$ctrl.customer.name"/>
 	</label>
 	<label> Age
		<input ng-model="$ctrl.customer.age"/>
 	</label>
 	<label> Phone Number	
		<input ng-model="$ctrl.customer.phoneNumber"/>
 	</label>
 	<label> Address 	
		<input ng-model="$ctrl.customer.address.street"/>
		<div> City<input ng-model="$ctrl.customer.address.city"/></div>
		<div> State<input ng-model="$ctrl.customer.address.state"/></div>
		<div> Zip code<input ng-model="$ctrl.customer.address.zipCode"/></div>
 	</label>
 	
 	<input type="submit" value="Save"/>
 	<input type="button" value="Delete" ng-click="$ctrl.delete()"/>
</form>



