<h2>Cars</h2>
<div><a ng-link="['AddCar']">Add Car</a></div>
<div><input type="search" ng-model="q.$" placeholder="search car" /></div>
<div>
<span ng-click="q.isUnderRepair=undefined">All</span>
<span ng-click="q.isUnderRepair=true">UnderRepair</span>
</div>
<div ng-repeat="car in $ctrl.cars | filter:q as results">
	<a ng-link="['CarDetail', {id: car._id}]">{{car.registrationNumber}}</a>
	<br><span>{{car.make}}</span></br>
	<br><span>{{car.customer}}</span></br>
	<br><span>{{car.employee}}</span></br>
</div>


<!-- "_id":"581b846d4190fe37b5ca89a3","updatedAt":"2016-11-03T18:39:41.970Z","createdAt":"2016-11-03T18:39:41.970Z","make":"Zelda","model":"Volvo","year":"ABC123","__v":0} -->